<!DOCTYPE html>
<html>
<% include ../partials/head %>

    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="container">
                <h1>Add Post</h1>

                <form method="POST">
                    <div class="form-group">
                        <label for="postTitle">Title</label>
                        <input type="text" class="form-control" name="title" id="postTitle" placeholder="Post Title">
                    </div>
                    <div class="form-group">
                        <label for="postAuthor">Author</label>
                        <input type="text" class="form-control" name="author" id="postAuthor" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="postContent">Content</label>
                        <textarea name="content" class="form-control" name="content" id="postContent" rows="10"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </main>
        <footer class="bg-light">
            <% include ../partials/footer %>
        </footer>
    </body>

</html>